h1, h2 {
    border-bottom: 1px solid #eee;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    max-width: 800px;
    padding-left: 3vw;
    padding-left: 3vw;
    padding-top: 1vh;
    padding-block-start: 1vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}